<!-- 
    Joshua Judkins
   
    Project 3 - Human Trafficking in Utah with interactive table and database 
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/bootstrap.css">
</head>
<body>
    <div class="header">
        <br>
        <img  style="float: left" src="/public/images/utah.webp"><h2>UTAH AGAINST HUMAN TRAFFICKING</h2>
        <br>
    </div>
    <div class="photo">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="title">YOU CAN HELP END HUMAN TRAFFICKING</h1>
        <br>
        <br>
        <form action="https://attorneygeneral.utah.gov/initiatives/human-trafficking/">
            <button class="button"type="submit">GET INVOLVED</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>

    <h2 class="quote">"Human trafficking is a hidden crime, as victims rarely come forward to seek help because 
        of language barriers, fear of the traffickers, and/or fear of law enforcement."</h2>
    <div class="info">
    <br>
    <img class="protester"style="float: left;" src="/public/images/protester.jpg">
    <h3>Be Aware</h3>
    <br>
   
    <h4>Common Trafficker Tactics:</h4>
    <p >Using violence or threatening the person or person’s family members;<br>
        Harming or depriving the person of basic necessities, such as food, water, or sleep;<br>
        Making false promises of love or companionship;<br>
        Making false promises of a good job and home;<br>
        Restricting contact with friends or family;<br>
        Limiting freedom of movement;<br>
        Controlling the person’s identification documents;<br>
        Threatening deportation or law enforcement action; or<br>
        Garnishing the person’s salary to pay off alleged debts.</p>
    <br>
    <br>
    <h4>Trafficking Myths:</h4>
    <p>Many misconceptions exist about human trafficking. For example, people think it only occurs abroad; that victims are only foreign-born or impoverished individuals; that traffickers are always strangers; and that victims always have visible chains.
        <br><br>
        <span style="font-weight:bold">Myth #1:</span> Human trafficking does not occur in the United States. It only happens in other countries.<br>
        <span style="font-weight:bold">Fact:</span> Human trafficking exists in every country, including the United States. It exists nationwide–in cities, suburbs, and rural towns–and probably in your own community.<br>
        <br>
        <span style="font-weight:bold">Myth #2:</span> Human trafficking victims are only foreign-born individuals and those who are poor.<br>
        <span style="font-weight:bold">Fact:</span>  Human trafficking victims can be any age, race, gender, or nationality: young children, teenagers, women, men, runaways, United States citizens, and foreign-born individuals. <br>
        <br>
        <span style="font-weight:bold">Myth #3:</span> Human trafficking is only sex trafficking.<br>
        <span style="font-weight:bold">Fact:</span>  You may have heard about sex trafficking, but forced labor is also a significant and prevalent type of human trafficking. Victims are found in legitimate and illegitimate labor industries, including sweatshops, massage parlors, agriculture, restaurants, hotels, and domestic service. Note that sex trafficking and forced labor are both forms of human trafficking, involving the exploitation of a person.
        <br><br>
        <span style="font-weight:bold">Myth #4:</span> Individuals must be forced or coerced into commercial sex acts to be a victim of human trafficking.<br>
        <span style="font-weight:bold">Fact:</span>  According to U.S. federal law, any minor under the age of 18 who is induced to perform commercial sex acts is a victim of human trafficking, regardless of whether he or she is forced or coerced.
        <br><br>
        <span style="font-weight:bold">Myth #5:</span> Human trafficking and human smuggling are the same.<br>
        <span style="font-weight:bold">Fact:</span>  Human trafficking is not the same as smuggling. “Trafficking” is exploitation-based and does not require movement across borders. “Smuggling” is movement-based and involves moving a person across a country’s border with that person’s consent, in violation of immigration laws.
        <br><br>
        <span style="font-weight:bold">Myth #6:</span> All human trafficking victims attempt to seek help when in public.<br>
        <span style="font-weight:bold">Fact:</span>  Human trafficking is often a hidden crime. Victims may be afraid to come forward and get help; they may be forced or coerced through threats or violence; they may fear retribution from traffickers, including danger to their families; and they may not be in possession or have control of the identification documents.</p>
   <br>
    <br>
    <img class="protester2" style="float: right; margin: 0px 0px 15px 15px;" src="/public/images/march.avif">
    <h4>Indicators:</h4>
    <p>
    Does the person appear disconnected from family, friends, community organizations, or houses of worship?
    <br>
    Has a child stopped attending school?
    <br>
    Has the person had a sudden or dramatic change in behavior?
    <br>
    Is a juvenile engaging in commercial sex acts?
    <br>
    Is the person disoriented or confused or showing signs of mental or physical abuse?
    <br>
    Does the person have bruises in various stages of healing?
    <br>
    Is the person fearful, timid, or submissive?
    <br>
    Is the person often in the company of someone to whom he or she defers? Or someone who seems to be in control of the situation, e.g., where they go or who they talk to?
    <br>
    Does the person appear to be coached on what to say?
    <br>
    Is the person living in unsuitable conditions?
    <br>
    Does the person lack personal possessions and appear not to have a stable living situation?
    <br>
    Does the person have freedom of movement? Can the person freely leave where they live?
    </p>
    </div>
    <br>
    <br>
    <div>
    <h1 class="label">Current Victims:</h1>

    <label><b></b></label>
    <br><br>
    <table class='table table-hover table-borderless'> 
    <thead style="background-color: cornflowerblue; color: white;">
        <tr>
            <th style="text-align: left;">Date Missing</th>
            <th style="text-align: left;">Last Name</th>
            <th style="text-align: left;">First Name</th>
            <th style="text-align: left;">Age at Missing</th>
            <th style="text-align: left;">City</th>
            <th style="text-align: left;">State</th>
            <th style="text-align: left;">Gender</th>
            <th style="text-align: left;">Race</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
        <tbody style="font-family: Arial; font-size: 9pt;">
            <!-- for loop to display database information to table -->
            <% for (let iCount = 0; iCount < mytrafficking.length; iCount++) { %>
                
                <tr>
                    <td><%= mytrafficking[iCount].Date_Missing %></td>
                    <td><%= mytrafficking[iCount].Last_Name %></td>
                    <td><%= mytrafficking[iCount].First_Name %></td>
                    <td><%= mytrafficking[iCount].Age_Missing %></td>
                    <td><%= mytrafficking[iCount].City %></td>
                    <td style="text-align: center;"><%= mytrafficking[iCount].State %></td>
                    <td style="text-align: center;"><%= mytrafficking[iCount].Gender %></td>
                    <td style="text-align: center;"><%= mytrafficking[iCount].Race %></td>
                <td style="text-align: center;">
                <!-- edit button -->
                <form action="/editPerson/<%= mytrafficking[iCount].person_id %>" method = "GET">
                    <button type="submit" value="edit" name="edit">Edit</button>
                </form>
                <!-- delete button -->
                </td>
                <td style="text-align: center;">
                <form action="/deletePerson/<%= mytrafficking[iCount].person_id %>" method = "POST">
                    <button type="submit" value="Delete" name="Delete">Delete</button>
                </form>
                    </td> 
                </tr>
            <% } %>
        </tbody>
    </table>
    <br><br>
        <form action="/addPerson" method="GET">
            <button type="submit">Add Person</button>
        </form>

            <br>  
</body>
</html>
